.theme-toggle-btn {
    position: absolute !important;
    top: 16px !important;
    right: 16px !important;
    width: 45px !important;
    height: 45px !important;
    border-radius: 50% !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggle-btn .theme-icon {
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: x-large;
}

.theme-toggle-btn .theme-icon.fa-sun {
    color: gold !important;
}

#burger-menu {
    position: fixed !important;
    top: 16px !important;
    left: 16px !important;
    width: 45px !important;
    height: 45px !important;
    border-radius: 50% !important;
    padding: 0 !important;
    display: none;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: contain;
    padding: 10px
}

hr {
    border-top: solid 1px darkgray !important;
}

.small-font {
    font-size: small;
}

.sidebar {
    border-right: 1px lightgray solid;
    background-color: rgba(220, 220, 218, 1);
    padding-left: 12px !important;
    padding-right: 12px !important;
    width: 315px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 0;
    transition: transform 0.3s ease;
}

.sidebar-hidden {
    transform: translateX(-315px);
}

/* Smooth icon fade */
.theme-icon, .fa-bars, .fa-xmark {
    transition: 0.2s ease;
}

.main-content {
    width: calc(100% - 315px);
    margin-left: 315px;
    min-height: 100vh;
    padding: 1rem;
    overflow-y: auto;
}

@media only screen and (max-width: 900px) {
    .main-content {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .sidebar {
    }

    .sidebar-hidden {
    }

    #burger-menu {
        display: flex !important;
        z-index: 2;
    }
}

.DateRangePickerInput {
    width: 100%;
}

#players-selection {
    width: 100%;
    max-width: 500px;
}

.dash-dropdown .Select-control {
    padding: 6px !important;
}

.my-card {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white;
}

.game-table {
    padding: 12px;
}

.bg-lightgray {
    background-color: rgba(128, 128, 128, 0.2);
}

.player-span {
    padding: 3px;
    border-radius: 3px;
}
